.row {
  margin: 0 !important;
  width: 100% !important;
}

label {
  display: block;
}

input {
  margin: 0 20px 10px 0;
  outline: none;
  border: 1px solid lightgray;
}

input[type=text], input[type=tel], input[type=email] {
  width: 200px;
}

input[type=number] {
  width: 100px;
}

label {
  font-weight: normal;
  margin: 0;
}

#division label, #grade label {
  display: inline;
}

#division input {
  display: inline;
}

.repertoire div, .address div, .name div {
  display: inline-block;
}

#application-body {
  margin: 100px 0 50px 0 !important;
}

img {
  width: 50%;
  height: 2%;
  border: 1px solid transparent;
  border-radius: 50px;
  margin: 0 0 2% 2%;
}

#banner {
  height: 100px;
}

.letter p {
  font-size: 16px;
  text-align: left;
}

.letter {

}

input[type=submit] {
  font-size: 15px;
}

@media all 
  and (max-width: 768px) {
    body {
      background-color: purple; 
    }
}

/* Small Phones */
@media screen
  and (max-device-width: 736px) {
    body {
      background-color: red;
    }
}

/* Tablets */
@media screen
  and (min-device-width: 736px)
  and (max-device-width: 1024px) {
    body {
      background-color: orange;
    }
}


